@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-inter), sans-serif;
  }
  h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: var(--font-space-grotesk), sans-serif;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}
